# Pemanggilan Dataset

In [2]:
#Mengimpor pustaka pandas dengan memberikan alias pd
import pandas as pd

dataku = pd.read_csv('K03_counter_strike_2.csv')#Menggunakan fungsi read_csv dari pandas untuk membaca data
#dari file CSV. read_csv
dataku #Menyimpan hasil pembacaan data dari file CSV ke dalam variabel dataku

,time_left,ct_score,t_score,map,bomb_planted,ct_health,t_health,ct_armor,t_armor,ct_money,t_money,ct_helmets,t_helmets,round_winner
0,175.00,0.0,0.0,de_dust2,False,500.0,500.0,0.0,0.0,4000.0,4000.0,0.0,0.0,CT
1,156.03,0.0,0.0,de_dust2,False,500.0,500.0,400.0,300.0,600.0,650.0,0.0,0.0,CT
2,96.03,0.0,0.0,de_dust2,False,391.0,400.0,294.0,200.0,750.0,500.0,0.0,0.0,CT
3,76.03,0.0,0.0,de_dust2,False,391.0,400.0,294.0,200.0,750.0,500.0,0.0,0.0,CT
4,174.97,1.0,0.0,de_dust2,False,500.0,500.0,192.0,0.0,18350.0,10750.0,0.0,0.0,CT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,74.90,7.0,10.0,de_train,False,327.0,355.0,376.0,183.0,6350.0,13300.0,3.0,1.0,T
1996,31.23,7.0,10.0,de_train,True,227.0,152.0,276.0,183.0,5000.0,7900.0,2.0,1.0,T
1997,11.23,7.0,10.0,de_train,True,185.0,105.0,266.0,183.0,5300.0,4450.0,2.0,1.0,T
1998,174.91,7.0,11.0,de_train,False,500.0,500.0,55.0,0.0,14900.0,32000.0,0.0,0.0,T
1999,114.90,7.0,11.0,de_train,False,500.0,500.0,355.0,500.0,650.0,6150.0,1.0,5.0,CT

# Preprocessing Data

In [4]:
from sklearn.preprocessing import LabelEncoder#Mengimpor kelas LabelEncoder dari modul preprocessing 
#dalam pustaka scikit-learn. digunakan untuk mengubah label kategorikal menjadi representasi numerik
from sklearn.model_selection import train_test_split#Mengimpor fungsi train_test_split dari modul 
#model_selection dalam scikit-learn.ntuk membagi data menjadi dua set: data latih (train set)
#dan data uji (test set).

In [5]:
encode = LabelEncoder()#Membuat objek LabelEncoder yang akan digunakan untuk mengubah nilai 
#kategorikal menjadi representasi numeri

for col in dataku:
    if dataku[col].dtype == 'object':
        dataku[col] = encode.fit_transform(dataku[col])
dataku
#Melakukan loop melalui setiap kolom pada DataFrame Jika tipe data
#kolom tersebut adalah 'object' (kategorikal), maka LabelEncoder 
#digunakan untuk mengubah nilai-nilai dalam kolom tersebut menjadi representasi numerik.

,time_left,ct_score,t_score,map,bomb_planted,ct_health,t_health,ct_armor,t_armor,ct_money,t_money,ct_helmets,t_helmets,round_winner
0,175.00,0.0,0.0,0,False,500.0,500.0,0.0,0.0,4000.0,4000.0,0.0,0.0,0
1,156.03,0.0,0.0,0,False,500.0,500.0,400.0,300.0,600.0,650.0,0.0,0.0,0
2,96.03,0.0,0.0,0,False,391.0,400.0,294.0,200.0,750.0,500.0,0.0,0.0,0
3,76.03,0.0,0.0,0,False,391.0,400.0,294.0,200.0,750.0,500.0,0.0,0.0,0
4,174.97,1.0,0.0,0,False,500.0,500.0,192.0,0.0,18350.0,10750.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,74.90,7.0,10.0,5,False,327.0,355.0,376.0,183.0,6350.0,13300.0,3.0,1.0,1
1996,31.23,7.0,10.0,5,True,227.0,152.0,276.0,183.0,5000.0,7900.0,2.0,1.0,1
1997,11.23,7.0,10.0,5,True,185.0,105.0,266.0,183.0,5300.0,4450.0,2.0,1.0,1
1998,174.91,7.0,11.0,5,False,500.0,500.0,55.0,0.0,14900.0,32000.0,0.0,0.0,1
1999,114.90,7.0,11.0,5,False,500.0,500.0,355.0,500.0,650.0,6150.0,1.0,5.0,0

In [6]:
X = dataku.drop('round_winner', axis=1)
Y = dataku['round_winner']
#Di sini, X adalah DataFrame yang berisi data fitur (variabel independen) dengan kolom 'round_winner' dihapus,
#dan Y adalah Series yang berisi data target (variabel dependen) yang hanya terdiri dari kolom 'round_winner'.

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=.2)
#X dan Y adalah data yang akan dibagi.
#test_size=0.2 menentukan bahwa 20% dari data akan dialokasikan sebagai data uji, 
#sedangkan 80% akan menjadi data latih

# Pembentukan Model

In [12]:
from sklearn.neighbors import KNeighborsClassifier
#Ini mengimpor kelas KNeighborsClassifier dari modul neighbors dalam pustaka scikit-learn. 
#KNeighborsClassifier adalah implementasi K-Nearest Neighbors untuk tugas klasifikasi.

model = KNeighborsClassifier()#Membuat objek model KNeighborsClassifier. 
#Pada tahap ini, model diinisialisasi dengan parameter default.
model.fit(x_train, y_train)#x_train adalah data fitur latih, dan y_train adalah data target latih. 
#Model KNN akan "mempelajari" pola dalam data latih, sehingga dapat digunakan untuk melakukan prediksi pada data baru.

KNeighborsClassifier()

# Analisis Akurasi Model

In [18]:
print("Akurasi Model Data : {}".format(model.score(x_test, y_test)))# digunakan untuk mencetak atau menampilkan akurasi dari model K-Nearest Neighbors pada data uji

Akurasi Model Data : 0.7375

/Users/prasetiyo/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

# Pengujian Model

In [22]:
predik = model.predict(x_test)
#Metode ini mengambil fitur-fitur dari data uji 
#dan mengembalikan prediksi kelas untuk setiap sampel.
#Hasil dari prediksi disimpan dalam variabel predik. 
#Sekarang, predik berisi array atau daftar nilai yang mewakili kelas prediksi dari model 
#untuk setiap sampel dalam data u
predik

/Users/prasetiyo/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

array([0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1,
       1, 0, 1, 0])